
*{
    margin: 0;
    padding: 0;
}


/* header section styles */
.headerSection{
    background: url(../assets/Hero-bg.png);
    background-size: cover; 
    
    height: 100vh;
}

/* font added */
.azeret-mono-continue {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .headerSection img{
    display: flex;
    margin: 25px auto;
    padding: 20px;
  }
  .headerSection .portfolioHeader {
    color: rgb(13, 19, 33);
    width: 998px;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px auto;

  }

.headerSection .headerPara{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    width: 892px;
    margin: 20px auto;
}
.headerSection .contactMeButton{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: white;
    border: none;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    display: block;
    margin: 35px auto;

}



/* why web deb styles */

.webDevWhy{
  background: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
  padding: 50px 20px;
  margin: 50px 200px;
  width: 1500px;
  align-items: center;


}

.webDevWhyHeader{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.paraStyle{
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  width: 1100px;
  font-weight: 400;
  line-height: 26px;
}
.webDevWhyPara{
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  width: 1100px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 48px;
  margin-top: 24px;
}

.webDevMotivation{
  display: flex;
  justify-content: space-between;
  margin: 80px 97px;
  border-radius: 16px;
  background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.291) 100%);
  padding: 60px 60px;
  margin-bottom: 32px;
}

.webDevMotivationHeader{
  color: rgba(13, 19, 33, 0.7);
  width: 400px;
  margin: 16px 0px 16px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.webDevMotivationPara{
  width: 600px;
}
.btn{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 1);
  opacity: 0.7;
  margin: 32px 0px;
  padding: 12px 20px 12px 20px;
}
.btn:hover{
  background: rgba(13, 19, 33, 1);
  color: white;
}
.buttonText{

  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0px 10px;

}

.webDevMotivation1{
  display: flex;
  /* justify-content: space-between; */
  margin: 80px 107px;
  border-radius: 16px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.291) 100%);
  padding: 60px 60px;
  margin-bottom: 32px;
}

.webDevContent{
  margin-left: 90px;
}



/* my inspiration section styles */


.inspirationHeader{
  margin-top: 90px;
}

.iframediv{
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  width: 1500px;
  height: 814px;
  margin: 0 auto;
}
.inspirationSection iframe{
  border-radius: 16px;
  width: 1400px;
  
  margin: 35px;
  height: 740px;
}




/* my current target */


.mycurrenttarget{
  margin:151px;

}

.targetcontentheader{
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  margin: 20px 0px;
}
.mycurrenttargetContent p{
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  width: 364px;
  height: 140px;
  font-weight: 400;
  line-height: 26px;
  
}
.mycurrenttargetContent{
  margin: 0px 24px;
  width: 1369px;
  border-radius: 20px;
  padding: 40px;
}
.mycurrenttargetContent a{
  text-decoration: underline;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

}
.coloradd1{
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.coloradd2{
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.coloradd3{
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

.targetcontentmain{
  display: flex;
  align-items: center;
  margin: 80px 0px;

}
.supportcontent{
  margin: 0px 24px;
  width: 1669px;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textinput{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 598px;
  height: 57px;
}
.textinput::placeholder{
  padding-left:10px ;
}

.submitbtn{
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 127px;
  height: 53px;
  cursor: pointer;
}

.supportfeedback{
  background-image:        linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../assets/handshake.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  padding: 19px 10px;
  color: white;
  border-radius: 16px;
  width: 80%;
  height: 310px;
  margin: 0px auto;
 
}
.textwhite{
  color: white;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  

}
.textwhitepara{
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  width: 700px;
  margin: 20px auto;
}
.supportcontent input[type="submit"].submitbtn {
  padding: 5px 18px 5px 18px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  margin: 0px 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
